<h1>
	{{#if note._id}}
		Edit
	{{else}}
		Create
	{{/if}} note
</h1>

{{> error}}

<form action="/edit/{{note._id}}" method="post" id="editForm">
	<label for="title" class="row-title">Title</label>
    <input type="text" class="form-control row-title" id="title" name="title" value="{{note.title}}" required>

    <label for="description" class="row-description">Description</label>
    <textarea class="form-control row-description" id="description" name="description" rows="2">{{note.description}}</textarea>

    <label for="importance" class="row-importance">Importance</label>
    <input type="number" class="form-control row-importance" id="importance" name="importance" value="{{note.importance}}" min="1" max="5" />

    <label for="dueDate" class="row-dueDate">Due date</label>
    <!-- Placeholder and Pattern are only for browsers that do not support type="date" -->
    <input type="date" class="form-control row-dueDate" id="dueDate" name="dueDate" value="{{note.dueDateFormatted}}" placeholder="yyyy-mm-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

	<div class="form-footer">
		{{#if note._id}}
		<label class="form-check-label">
		<input type="checkbox" class="form-check-input" id="finished" name="finished" value="true" {{#if note.finished}}checked{{/if}}> Finished!</label>
		{{/if}}

		<div>
			<button type="submit">{{#if note._id}}Update{{else}}Create{{/if}}</button>
			<a href="/" role="button"><button type="button">Cancel</button></a>
		</div>
	</div>
</form>
