{{> error}}

<div id="actionButtons">
    <!--suppress HtmlUnknownTarget -->
    <a href="/edit" role="button">
        <button>Create new Note</button>
    </a>

    <a href="?style={{#ifEq style 'dark'}}light{{else}}dark{{/ifEq}}">
    <button type="button" id="styleSwitcher">Switch Style
    </button>
    </a>

    <ul id="sortButtons">

        <li>
            <a href="?sort=dueDate&asc={{asc}}" role="button">
                <button >By due date</button>
            </a>
        </li>
        <li>
            <a href="?sort=createdAt&asc={{asc}}" role="button">
                <button>By created Date</button>
            </a>
        </li>

        <li>
            <a href="?sort=importance&asc={{asc}}" role="button">
                <button>By Importance</button>
            </a>
        </li>
    </ul>

    <a href="?showUnfinished={{showAll}}">
        <button type="button" id="finishedFilter">
            {{#if showAll}}
                Hide finished
            {{else}}
                Show All
            {{/if}}
        </button>
    </a>
</div>

{{#unless notes}}
<div id="noNotesInfo" class="alert alert-primary">No notes found</div>
{{/unless}}

<ul id="noteList">
    {{#each notes}}
        <li>
            <div class="importance" data-importance="{{importance}}"></div>
            <div class="due">{{dueDateText}}</div>
            <label for="description-{{_id}}" class="title">{{title}}</label>
            <div class="finished">
                 <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" disabled {{#if finished}}checked{{/if}}> Finished
                 </label>
            </div>
            <textarea id="description-{{_id}}" class="description" rows="3" disabled>{{description}}</textarea>
            <a href="/edit/{{_id}}">
                <button><span>Edit</span></button>
            </a>
        </li>
    {{/each}}
</ul>