body {
	padding: 30px;
	background-color: var(--background-color);
	color: var(--font-color);

    --button-width-default: 150px;
    --spacing-default: 10px;
}

/* Light Theme (Default) */
body,
body.style-light {
	--background-color: white;
	--font-color: rgb(41, 43, 44);
	--button-background-color: var(--background-color);
	--button-background-color-hover: lightgray;
	--button-font-color: var(--font-color);
	--button-font-color-hover: var(--font-color);
	--button-border-color: lightgray;
	--textarea-disabled-background-color: #EAECE2; /* "Color-picked" from specification video */
}

/* Dark Theme */
body.style-dark {
	--background-color: black;
	--font-color: white;
	--button-background-color: darkblue;
	--button-background-color-hover: lightgray;
	--button-font-color: white;
	--button-font-color-hover: rgb(41, 43, 44);
	--button-border-color: var(--font-color);
	--textarea-disabled-background-color: var(--button-background-color);
}

/*******************************************
  Global styles
 *******************************************/



.importance[data-importance="5"]:before{
    content:'★★★★★'
}
.importance[data-importance="4"]:before{
    content:'★★★★☆'
}
.importance[data-importance="3"]:before{
    content:'★★★☆☆'
}
.importance[data-importance="2"]:before{
    content:'★★☆☆☆'
}
.importance[data-importance="1"]:before{
    content:'★☆☆☆☆'
}

a {
    width: 0;
}

h1 {
	border-bottom: 1px solid lightgray;
}

ul {
	list-style-type: none;
	padding: 0;
    margin: 0;
	overflow: hidden;
}

button {
	background-color: var(--button-background-color);
	color: var(--button-font-color);
	border: 1px solid var(--button-border-color);
	border-radius: 5px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
}

button:hover,
button:active {
	background-color: var(--button-background-color-hover);
	color: var(--button-font-color-hover);
}

/*******************************************
  Section-specific, screen-agnostic Styles
 *******************************************/

#noNotesInfo {
	margin-top: var(--spacing-default);
	margin-bottom: 0;
}

#noteList .finished {
    font-weight: bold;
}

#noteList textarea {
	background-color: var(--textarea-disabled-background-color);
	color: var(--font-color);
}

#noteList button {
    width: var(--button-width-default);
}

#editForm label {
	font-weight: bold;
	margin-top: var(--label-margin-top);
	margin-right: var(--label-margin-right);
	margin-bottom: var(--label-margin-bottom);
}

#editForm label.form-check-label {
	text-align: left;
	font-weight: normal;
	margin-bottom: var(--input-margin-bottom);
}

#editForm input,
#editForm textarea {
	margin-bottom: var(--input-margin-bottom);
}

#editForm .form-footer button {
	width: var(--button-width);
}

/*******************************************
  Screen-size-specific Styles
 *******************************************/

/* "Large" screens */
@media (min-width: 800px) {
	#actionButtons {
		display: grid;
		grid-template-columns: minmax(auto, 1fr) var(--button-width-default);
		grid-template-areas: "main side";
		grid-area: main;
	}

	#actionButtons button {
		width: var(--button-width-default);
	}

	#actionButtons #sortButtons {
		grid-row: 2/3;
	}

	#actionButtons #sortButtons li {
		float: left;
	}

	#actionButtons #styleSwitcher {
		grid-area: side;
	}

	#actionButtons #finishedFilter {
		grid-area: side;
		grid-row: 2/3;
	}

    #noteList li {
        display: grid;
        grid-template-columns: 100px minmax(auto, 1fr) var(--button-width-default);
        grid-column-gap: var(--spacing-default);
        grid-template-areas: "side main edit";
    }

    #noteList .due {
        grid-area: side;
        grid-row: 1/2;
    }

    #noteList .title {
        grid-area: main;
        grid-row: 1/2;
    }

    #noteList .importance {
        grid-area: main;
        grid-row: 1/2;
        margin-left: auto;
    }

    #noteList .finished {
        grid-area: side;
        grid-row: 2/3;
    }

    #noteList .description {
        grid-area: main;
        grid-row: 2/3;
    }

    #noteList a {
        grid-area: edit;
        grid-row: 2/3;
    }

    #noteList button {
        height: 100%;
        position: relative;
    }

	/* Align text inside button top-center */
    #noteList button span {
        position: absolute;
        top: var(--spacing-default);
        left: 0;
        width: 100%;
        text-align: center;
    }

	#editForm {
		display: grid;
		grid-template-columns: 150px minmax(auto, 1fr);
		grid-template-areas: "label input";

		--label-margin-top: 6px;
		--label-margin-right: 30px;
	}

	#editForm label {
		grid-area: label;
		text-align: right;
		font-weight: bold;
	}

	#editForm .row-title {
		grid-row: 1/2;
	}

	#editForm .row-description {
		grid-row: 2/3;
	}

	#editForm .row-importance {
		grid-row: 3/4;
	}

	#editForm .row-dueDate {
		grid-row: 4/5;
	}

	#editForm .form-footer {
		grid-area: input;
		grid-row: 5/6;
	}
}

/* "Large" AND "Medium" screens */
@media (min-width: 600px) {
	#editForm {
		--label-margin-bottom: 8px;
		--input-margin-bottom: 14px;
		--button-width: var(--button-width-default);
	}
}

/* "Medium" screens */
@media (max-width: 799px) and (min-width: 600px) {
	#noteList .title {
		position: absolute;
		top: var(--spacing-default);
		left: 120px;
	}
}

/* "Medium" AND "Small" screens */
@media (max-width: 799px) {
	#actionButtons #styleSwitcher {
		float: right;
	}

	#actionButtons #sortButtons button,
	#actionButtons #finishedFilter {
		width: 100%;
	}

	#noteList li {
		position: relative;
		border: 1px dotted lightgray;
		margin-top: var(--spacing-default);
		padding: var(--spacing-default);
	}

	#noteList .importance {
		float: right;
	}

	#noteList .description {
		width: 100%;
	}

	#noteList a button {
		width: 30%;
	}
}

/* "Small" screens */
@media (max-width: 599px){
	#editForm {
		--label-margin-bottom: 2px;
		--input-margin-bottom: 8px;
		--button-width: 80px;
	}
}